* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  text-align: center;
  min-width: 350px;
}

/* ลดเงาและทำให้ modal ดูกลม */
.crop-modal {
  max-height: 90vh;
  overflow: hidden;
}

.reactEasyCrop_Container {
  background-color: #fafafa !important;
}
